

body {
    background-color: #385572;
    font-family: 'Abel', sans-serif;
}

h1 {
    text-align: center;
}

.mainContent {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    background-color: #238d23;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 25%);
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.wheel {
    height: 75%;
    width: 100%;
    margin: 30px auto auto 30px;
}

.spinBtn {
    font-size: 16px;
    background-color: #ffd966;
    margin: 1rem 1rem auto 5rem;
}

.rightSide {
    display: flex;
    flex-direction: column;
}

.numberWindow {
    height: 120px;
    width: 80px;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin: 100px auto 5px 220px;
    border: solid 5px black;
    /* background-color: rgb(195, 34, 34); */
}

.yourAmount {
    font-size: 25px;
    text-align: center;
    margin: 15px 20px 1px 200px;
    /* border: solid 2px black; */
}
.money {
    font-size: 25px;
    text-align: center;
    margin: 15px 20px auto 200px;
    /* border: solid 2px black; */
}

.placeBet {
    font-size: 20px;
    text-align: center;
    /* border: solid 2px black; */
    margin: 1rem auto auto;
}

.bets {
    display: flex;
    flex-direction: inline;
    font-size: 18px;
    cursor:pointer;
    /* border: solid 2px black; */
    margin: 1rem 30vw auto 30vw;
}

.left-bet {
    display: flex;
    flex-direction: row;
    color: #ffd966;
}

#red {
    position: fixed;
    z-index: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 2rem 10vw auto 9vw;
}

#red-chip {
    position: fixed;
    height: 5rem;
    margin: 1rem auto auto 3rem;
}

.red-left {
    width: 0;
    height: 0;
    z-index: 2;
    border-top: 50px solid transparent;
    border-right: 100px solid #D60000;
    border-bottom: 50px solid transparent;
    margin-right: 0px;
}

.red-right {
    width: 0;
    height: 0;
    z-index: 2;
    border-top: 50px solid transparent;
    border-left: 100px solid #D60000;
    border-bottom: 50px solid transparent;
    margin-left: 0px;
}

.right-bet {
    display: flex;
    flex-direction: row;
    color: #ffd966;
}

#black {
    position: fixed;
    z-index: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 2rem 16vw auto 8vw;
}

#black-chip {
    position:fixed;
    height: 5rem;
    margin: 1rem auto auto 3rem;
}

.black-left {
    width: 0;
    height: 0;
    z-index: 2;
    border-top: 50px solid transparent;
    border-right: 100px solid #232323;
    border-bottom: 50px solid transparent;
    margin-right: 0px;
}

.black-right {
    width: 0;
    height: 0;
    z-index: 2;
    border-top: 50px solid transparent;
    border-left: 100px solid #232323;
    border-bottom: 50px solid transparent;
    margin-left: 0px;
}